<div class="ps-3 d-flex flex-column">
    <p> O SISTAG é composto por diversos módulos.
        Cada m&oacute;dulo possui uma finalidade espec&iacute;fia. <a href="{{routeLogin()}}">Fa&ccedil;a sua
            autentica&ccedil;&atilde;o</a> no sistema para
        ver os m&oacute;dulos que voc&ecirc; pode acessar.</a>
    </p>
    <div class="d-flex flex-column align-items-center">
        <div class="grid-modo-acesso">
            <div class="card">
                <div class="card-header text-center">
                    Acessar como Instituição
                </div>
                <div class="card-body">
                    Membros de Organizações da Sociedade Civil, Órgãos da Administração Pública Municipal(Prefeituras).
                    O
                    acesso deverá ser feito com as credencias de pessoa física
                    (CPF e senha previamente cadastradas e autorizadas).
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                    Acesso administrativo
                </div>
                <div class="card-body">
                    Membros da Secretaria de Estado da Justiça, Família e Trabalho com as credenciais do <a
                        href="https://expresso.pr.gov.br">Expresso</a>
                </div>
            </div>
        </div>

        <div class="pt-1 col-lg-6 d-flex justify-content-center"><a class="btn btn-success"
                href="{{routeLogin()}}">Acesse aqui</a></div>
    </div>
</div>