{% extends "Base/template.twig" %}
{% block content %}
<div class="container-fluid px-4 h-100">
    <div class='d-flex justify-content-center align-items-center h-100 flex-column'>
        <div class="content-login d-flex flex-1 w-100 h-100 flex-column justify-content-center align-items-center">
            <div class="col-lg-4 col-md-8">
                <div class="card  p-4">
                    <h1 class="text-center">SISTAG</h1>
                    <h2 class="text-center">A página que você procura não foi encontrada!</h2>
                    <h2 class='text-center'>
                        <i style="font-size:10rem;" class="ri-emotion-sad-line text-danger"></i>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}