{% extends "Base/template.twig" %}
{% block content %}
	<div class="p-2 d-flex vh-100 justify-content-center align-items-center">
		<div class='d-flex flex-column'>
			<a href='{{urlAuth}}' target='_blank'>Link para authorização</a>
		</div>
	</div>
{% endblock %}
